body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #33465a;
    color: #ffffff;
    margin: 0;
    padding: 0 20px;
}

h1 {
    text-align: center;
    margin-top: 40px;
    font-size: 2.5em;
    color: #000000;
}

h4 {
    color: #000000;
    margin-top: 30px;
}

h3{
    color: #000000;
}

ul {
    background: #006e78;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    padding: 20px 30px;
    margin: 20px auto;
    max-width: 500px;
    list-style-type: disc;
}

li {
    color: #0f0f0f;
    margin-bottom: 10px;
    font-size: 1.1em;
}

p {
    color: rgb(2, 2, 2);
    text-align: center;
    font-size: 1.2em;
    margin-top: 20px;
    margin-bottom: 30px;
}